body 
{
    display: block;
    margin: 0px;
    background-color: #f3dcaf;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*
{
    font-family: 'Times New Roman', Times, serif;
}
.paw .pawss
{
    padding-top: 50px;
}
.paw .pAw
{
    float: right;
    padding-top: 30%;
}
.intro{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    background: linear-gradient(100deg, rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px)
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.18);
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    font-size: 30px;
    color: #5e2404;
}
.intro p
{
    color: #644632;
    font-size: 20px;
}
.intro .img
{
    float: center;
    height: 250px;
    width: 250px;
    background-color:#c59769;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 5px solid #c59769;
    box-shadow: 0 0 20px rgba(68, 53, 31, 0.808);
}
.content 
{
    margin-top: 50%;
    text-align: center;
    font-size: 20px;
    color: rgb(70, 45, 19);
}
.content .sleep
{
    float: left;
    height: 145px;
    width: 145px;
    background-color:#bc8e63;
    border-radius: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 150px;
    border: 12px solid #bc8e63;
    box-shadow: 0 0 20px rgba(67, 50, 30, 0.808);
}
.content .travel
{
    float: right;
    height: 140px;
    width: 140px;
    background-color:#bc8e63;
    border-radius: 50%;
    margin-top: 300px;
    margin-bottom: 20px;
    margin-right: 150px;
    border: 15px solid #bc8e63;
    box-shadow: 0 0 20px rgba(67, 50, 30, 0.808);
}
.content .funny
{
    float: left;
    height: 140px;
    width: 140px;
    background-color:#bc8e63;
    border-radius: 50%;
    margin-top: 550px;
    margin-bottom: 20px;
    margin-left: -170px;
    border: 15px solid #bc8e63;
    box-shadow: 0 0 20px rgba(67, 50, 30, 0.808);
}

.text h1
{
    text-align: left;
    margin-top: 140px;
    margin-bottom: 70px;
    color: #844f39;
    padding-left: 450px;
    font-size: 30px;
}
.text h2
{
    text-align: right;
    margin-top: 220px;
    margin-bottom: 70px;
    color: #844f39;
    padding-right: 430px;
    font-size: 30px;
}
.text h3
{
    text-align: left;
    margin-top: 220px;
    margin-bottom: 70px;
    color: #844f39;
    padding-left: 450px;
    font-size: 30px;
}
.text h4
{
    text-align: left;
    margin-top: 220px;
    margin-bottom: 70px;
    color: #844f39;
    padding-left: 620px;
    font-size: 30px;
}

.paws .paw4
{
    padding-top: 50px;
    float: right;
    margin-right: 0px;
    margin-left:0px;
    width: 300px;
    height: 190px;
}
.paws .paw5
{ 
  padding-top: 25%;
  float: left;
  margin-left:-10px;
  margin-right:0px;
  width: 320px;
  height: 180px;
}
.thanks
{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 70px;
    color: #f96f5d;
    font-size: 30px;
}
.cats h1
{
    margin-left: 470px;
    padding-top:150px;
    color: #f96f5d;
}
.register h3
{
    text-align: center;
    margin-top: 300px;
    margin-bottom: 70px;
    color: rgb(131, 95, 63);
    font-size: 30px;
}
.myButton {
	background:linear-gradient(to bottom, #644234 5%, #ddb892 100%);
	background-color:#644234;
	border-radius:28px;
	border:1px solid #ddb892;
	cursor:pointer;
	color:#ffedea;
	font-family:'Times New Roman', Times, serif;
	font-size:17px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ddb892;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 150px;
}
.myButton:hover {
	background:linear-gradient(to bottom, #644632 5%, #644632 100%);
	background-color:#ddb791;
}
.myButton:active {
	position:relative;
	top:1px;
}
footer {
    margin-top: 10%;
    border-bottom-style: solid;
    border-color: #644632;
    border-top-style: solid;
    background-color: #bc8e63;
    border-width: 1px;
}

#footer p, ul, li {
    margin: 0;
    text-align: center;
    padding: 7px;
    font-weight: bold;
}

.icon {
    float: center;
}
.icon img {
    width: 25px;
    height: 25px;
}

.icon ul {
    margin: 0;
}
